<h1>New cocktail :)</h1>

<%= form_for [@cocktail] do |f| %>
  <%= f.input :name %>
  <%= f.submit "Submit new cocktail", class: 'btn btn-primary'%>
<% end %>

<%= link_to 'Back', cocktail_index_path %>
